@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-textColor: #e7e7de;
    --primary-bgColor: #020b13;
    --secondary-bgColor: #008891;
    --terciary-bgColor: #00587a;
    --before-cardColor:  rgba(231, 231, 222, 0.1);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: var(--primary-textColor);
    background: var(--primary-bgColor);
    font-family: 'Roboto'
}


h1,h2,h3,h4,h5 {
    font-family: 'Archivo Black'
}

h3{
    border-bottom: 1px solid var(--primary-textColor);
    width: 95vw;
    text-align: center;
    margin: 0;
    font-family: 'Archivo Black', sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: -20px;
    visibility: hidden;
}


/*************************************HEADER*************************************************/

.header{
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 95% 5%;
    background: url('./assets/imgs/bground.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: fixed;
}

.header__text{
    align-self: center;
    font-family: 'Archivo Black', sans-serif;
}

.header__arrow{
    align-self: start;
}

.arrow {
    opacity: 0.8;
    animation: animate 1s alternate infinite;
    cursor: pointer;
}

@keyframes animate {
    0%{
        transform: translateY(0);
      }

      100% {
        transform: translateY(10px);
      }
}

/*************************************NAVBAR*************************************************/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    padding: 40px 0;
    z-index: 2;
}

.navbar.sticky{
    padding: 5px 0;
    background: var(--secondary-bgColor);
    opacity: 0.9;
}

.navbar .logo{
    font-family: 'Archivo Black', sans-serif;
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-textColor);
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.navbar__list{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-list__item {
    position: relative;
}

.navbar__link{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--primary-textColor);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s
}

.navbar__link:hover{
    transform: scale(2);
    font-weight: 800px;
    color: black;
}

/*************************************MY STACK*************************************************/
.myStack{
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-rows: 1.5rem;
    row-gap: 1rem;
}

.myStack__title {
    justify-self: center;
}

.myStack__list {
    display: grid;
    grid-template-rows: repeat(3, 25%);
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    position: relative;
    background: var(--terciary-bgColor);
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.myStack__list::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: var(--before-cardColor);
    z-index: 0;
}

.myStack-list__item {
    text-align: center;
    margin: .5rem auto;
    width: 90%;
    transition: 1s;
    z-index: 1;
}

.stackIcon {
    width: 50px;
    height: 50px;
}

.myStack-list__item::before{
    content: attr(item);
    /* transform: scale(0); */
    opacity: 0;
    display: block;
    position: relative;
    bottom: 5%;
    transition: 0.47s;
}

.myStack-list__item:hover {
    background: var(--primary-textColor);
    border-radius: 5px;
}

.myStack-list__item:hover::before {
    /* transform: scale(1); */
    opacity: 1;
    background: var(--secondary-bgColor);
    color: var(--primary-bgColor);
}

.myStack .border-effect {
    transition: 0.5;
    opacity: 0;
}

.myStack__list:hover .border-effect {
    opacity: 1;
}

.myStack .border-effect:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--primary-textColor));
    animation: animate1 2s linear infinite;
}

.myStack .border-effect:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, transparent, var(--primary-textColor));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

.myStack .border-effect:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--primary-textColor));
    animation: animate3 2s linear infinite;
    animation-delay: 2s;
}

.myStack .border-effect:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, transparent, var(--primary-textColor));
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}

/*************************************MY WORKS*************************************************/
.myWorks{
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-rows: 1.5rem;
    row-gap: 1rem;
}

.myWorks__title {
    justify-self: center;
}

.myWorks__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.myWorks__card{
    position: relative;
    width: 300px;
    height: 500px;
    background: var(--terciary-bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.myWorks__list .myWorks__card:hover{
    opacity: 1;
}

.myWorks__card::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: var(--before-cardColor);
    z-index: 0;
}

.card__content {
    padding: 30px;
    text-align: center;
    z-index: 1;
    display: grid;
    grid-template-rows: 4rem 10rem 9rem 8rem;
    align-items: center;
}

.card__content h2 {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 4em;
    font-weight: 800;
    color: var(--primary-textColor);
    opacity: 0.1;
    transition: 0.5s;
}

.card__title {
    align-self: end;
}

.card__title h4{
    margin: 0;
}

.card__content img {
    margin-top: 10px;
    position: relative;
    transform: scale(0);
    transition: 0.5s;
}

.myWorks__card:hover img {
    transform: scale(1);
}

.card__img {
    width: 50%;
    cursor: pointer;
}

.card__container-img::after{
    content: attr(action);
    transform: scale(0);
    display: block;
    position: relative;
    bottom: 0%;
    transition: 1s;
}

.card__container-img:hover::after {
    transform: scale(1);
}


.myWorks__card:hover h2 {
    opacity: 1;
    transform: translateY(-50px);
    color: var(--secondary-bgColor);
}

.card__content h4 {
    position: relative;
    font-size: 1.5em;
    color: var(--primary-textColor);
    z-index: 1;
    letter-spacing: 1px;
    opacity: 0.5;
    transition: 0.5s;
}

.myWorks__card:hover p,
.myWorks__card:hover h4 {
    opacity: 1;
}

.card__content p {
    position: relative;
    font-size: 1em;
    color: var(--primary-textColor);
    letter-spacing: 1px;
    opacity: 0.5;
    font-weight: 300;
    transition: 0.5s;
}

.card__content a {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    padding: 8px 15px;
    background: var(--primary-textColor);
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
}

.myWorks__card .border-effect {
    transition: 0.5;
    opacity: 0;
}

.myWorks__card:hover .border-effect {
    opacity: 1;
}

.myWorks__card .border-effect:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--primary-textColor));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.myWorks__card .border-effect:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, var(--primary-textColor));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.myWorks__card .border-effect:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--primary-textColor));
    animation: animate3 2s linear infinite;
    animation-delay: 2s;
}

@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.myWorks__card .border-effect:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, var(--primary-textColor));
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}

@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}

/************************************LIGHTBOX*********************************************************/
    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 25%;
        cursor: pointer;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 3;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: auto;
        background: rgba(0, 0, 0, 0.8);
        transition: 3s;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
        opacity: 1;
    }

    /* The Close Button */
    .close {
        color: var(--primary-textColor);
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    /* Hide the slides by default */
    .mySlides {
        text-align: center;
        display: none;
        background: var(--primary-bgColor);
        border: 1px solid var(--primary-textColor);
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: var(--primary-textColor);
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: var(--primary-textColor);
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: var(--secondary-bgColor);
        padding: 2px 16px;
        color: var(--primary-textColor);
    }

    .modal__img{
        width:100%
    }

    img.demo {
        opacity: 0.6;
        width: 50%;
    }

    .active,
    .demo:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .thumbnail-image-controls {
/*         height: 20%; */
        text-align: center;
    }
/*********************************************************************************************/

/****************************************SERVICES*********************************************/
.services{
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-rows: 1.5rem;
    row-gap: 1rem;
}

.services__title {
    justify-self: center;
}

.services__container{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services__card {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px 0;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.face.face1 {
    background: var(--secondary-bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.face1 .content {
    text-align: center;
}

.face1 .content img{
    width: 100px;
    margin: 10px 0;
}

.face1 .content h4{
    margin: 10px 0 0;
    color: var(--primary-textColor);
    font-size: 1.5em;
}

.face2 .border-effect:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--primary-textColor));
    animation: animate1 2s linear infinite;
}

.face2 .border-effect:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, transparent, var(--primary-textColor));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

.face2 .border-effect:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--primary-textColor));
    animation: animate3 2s linear infinite;
    animation-delay: 2s;
}

.face2 .border-effect:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, transparent, var(--primary-textColor));
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}

.face2 .content span{
    font-size: 0.7em;
    color: black;
}

.face2 .content span a{
    color: black;
    text-decoration: none;
}

.services__card:hover .face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: var(--terciary-bgColor);
}

.services__card .face.face2{
    width: 260px;
    height: 160px;
    text-align: center;
    background: var(--terciary-bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.services__card:hover .face2 {
    transform: translateY(0) rotateX(0);
}

.services__card .face2::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: var(--before-cardColor);
}

/*********************************************************************************************/

/**************************CONTACT ME***********************************************/
.contact{
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-rows: 1.5rem;
    row-gap: 1rem;
}

.contact__title {
    justify-self: center;
}


/*****************FORM*************************/
.contact__form {
    position: relative;
    justify-self: center;
    text-align: center;
    width: 80%;
    background: var(--terciary-bgColor);
    overflow: hidden;
}

.contact__form::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: var(--before-cardColor);
    z-index: 0;
}

.contact__form form{
    display: grid;
    justify-content: center;
    margin: 0 auto;
    row-gap: 1rem;
    width: 80%;
    grid-template-columns: 80%;
}

.contact-form__input {
    padding: 0.5rem;
    outline: none;
    z-index: 1;
    border-radius: 5px;
    border: none;
}

.contact__form form textarea {
    width: 99%;
    min-width: 99%;
    max-width: 99%;
    height: 3rem;
    min-height: 1.5rem;
    max-height: 4rem;
}

.contact-form__button{
    margin-bottom: 1rem;
    width: 25%;
    justify-self: center;
    cursor: pointer;
    z-index: 1;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 1.5rem;
    padding: 0 auto;
}

.contact-form__errors{
    margin-bottom: 1rem;
}

.contact__form .border-effect {
    transition: 0.5;
    opacity: 0;
}

.contact__form:hover .border-effect {
    opacity: 1;
    background: red;
    height: 100%;
}

.contact__form .border-effect:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--primary-textColor));
    animation: animate1 2s linear infinite;
}

.contact__form .border-effect:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, transparent, var(--primary-textColor));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

.contact__form .border-effect:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, var(--primary-textColor));
    animation: animate3 2s linear infinite;
    animation-delay: 2s;
}

.contact__form .border-effect:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, transparent, var(--primary-textColor));
    animation: animate4 2s linear infinite;
    animation-delay: 3s;
}

/**********************************************/

/*************SOCIAL MEDIA ACCORDION***********/
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Genericons';
    src: url('/assets/genericons/genericons-regular-webfont.woff')format('woff'),
        url('/assets/genericons/genericons-regular-webfont.eot')format('truetype')
}

.otherContacts {
    margin: 0px auto;
    width: 100%;
}

.otherContacts h4 {
    color: var(--primary-textColor);
    margin-bottom: 10px;
    text-align: center;
}

.accordion {
    background: #333;
    margin: auto;
    width: 80%;
    min-width: 800px;
    display: block;
    overflow: hidden;
    height: 200px;
    font-size: 0;
}

.tab {
    display: inline-block;
    background: #444;
    border-right: #333 solid 1px;
    width: 80px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0;
    transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
    width: 450px;
}

.tab:hover .social a:before {
    margin-left: -100px;
}

.tab:hover .social a:after {
    margin-left: -5px;
}

.tab .content {
    color: black;
    background: var(--primary-textColor);
    width: 360px;
    height: 200px;
    margin-left: 80px;
    position: relative;
    padding: 50px 0 0 15px ;
}

.tab .content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.tab .content p {
    font-size: 0.85rem;
    line-height: 1.4rem;
    padding-right: 30px;
}

.social a:before,
.social a:after {
    transition: all 0.4s ease-in-out 0.1s;
    width: 80px;
    height: 200px;
    position: absolute;
    text-indent: 0;
    padding-top: 90px;
    padding-left: 25px;
    display: block;
    font: normal 30px Genericons;
    color: var(--primary-textColor);
}

.social a:after {
    font-size: 48px;
    padding-left: 20px;
    padding-top: 80px;
    margin-left: 85px;
}

/* Icons */
.linkedin a:before,
.linkedin a:after {
    content:  '\f208'
}

.linkedin a:after {
    background: #00a9cd;
}

.github a:before,
.github a:after {
    content:  '\f200'
}

.github a:after {
    background: #6e5494;
}

.twitter a:before,
.twitter a:after {
    content:  '\f202'
}

.twitter a:after {
    background: #6dc5dd;
}

/**********************************************/

/***************FOOTER*************/
.footer{
    background: #000;
    padding: 2rem;
    text-align: center;
}

.footer p {
    margin: 0;
}

/*RESPONSIVE*/

@media only screen and (max-width: 950px){

    .header {
        background-size: cover;
        background-position: center;
        grid-template-rows: 98% 2%;
    }

    .otherContacts {
        width: 80%;
    }

    .tab {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }

    /*WORK*/
    .myWorks__card{
        width: 80%;
        height: 550px;
    }

    .card__content {
        grid-template-rows: 4rem 8rem 9rem 8rem;
    }
    /**/


    /*services*/


    /**/

    .tab .content {
        width: 85%;
    }

    .tab:hover {
        width: 100%;
    }

    .accordion {
        display: block;
        min-width: 450px;
        height: auto;
    }
}

@media only screen and (max-width: 600px){

    a.anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }



    .header__text{
        margin: 0 1rem;
    }

    .header__arrow{
        align-self: end;
    }

    /*************************************NAVBAR*************************************************/
    .logo {
        display: none;
    }

    .navbar{
        width: 100%;
        height: 5rem;
        grid-template-columns: 100%;
        position: fixed;
        top: 0;
        z-index: 3;
    }

    /*************************************STACK***************************************************/
    .myStack-list__item::before {
        font-size: 60%;
    }

    .stackIcon {
        align-self: center;
    }


    /*************************************CONTACT*************************************************/

    /*************************************FORM****************************************************/
    .contact__form {
        padding: 0 1rem;
        width: 70%;
    }

    .legend {
        justify-self: start;
    }

    .contact__form form textarea{
        width: 92%;
        min-width: 92%;
        max-width: 92%;
    }

    .contact__form form {
        row-gap: 0;
    }

    .contact-form__input {
        margin-bottom: 1rem;
    }

    .contact-form__button {
        width: auto;
    }


    /*************************************ACCORDION***********************************************/
    .otherContacts {
        width: 100%;
    }

    .tab {
        display: block;
        width: 100%;
        border-bottom: 3px #333 solid;
    }

    .tab .content {
        width: 85%;
    }

    .tab:hover {
        width: 100%;
    }

    .accordion {
        width: 80%;
        min-width: 350px;
        margin: auto;
    }

    .tab .content p {
        width: 80%;
        padding: 0;
    }

}


